<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--link rel='stylesheet' href='/stylesheets/style.css' /-->
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
        <li> John Doe</li>
      <li> Anna Smith</li>
      <li> Peter Jones</li>
    </ul>
  </body>
</html>
<% //console.log(userList.employees[i].firstName+" "+userList.employees[i].lastName); %>